body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Circe'; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media (min-width: 1025px) {
  body.compensate-for-scrollbar {
    position: static;
    width: auto; } }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background-color: transparent; }

.omfgIOS {
  position: fixed;
  max-width: 100%; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  max-width: 1101px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.box {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

.about__img {
  margin-left: -44px; }
  @media (max-width: 1024px) {
    .about__img {
      margin-top: 96px; } }
  @media (max-width: 768px) {
    .about__img {
      width: 94%;
      margin: 100px auto 385px;
      min-height: auto;
      max-height: 315px; } }
  @media (max-width: 375px) {
    .about__img {
      margin: 7px auto 11px; } }
  @media (max-width: 1024px) {
    .about__img img {
      width: 100%; } }

.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  margin-top: 35px;
  width: 100%;
  margin-bottom: 57px; }
  @media (max-width: 1024px) {
    .about__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: -74px; } }

.about__outer {
  width: 50%;
  margin-left: 152px;
  padding-top: 67px; }
  @media (max-width: 1024px) {
    .about__outer {
      margin-left: 0;
      width: 100%;
      padding-top: 5px; } }

.about__title {
  font-family: Circe;
  line-height: normal;
  font-size: 35px;
  color: #175E65;
  text-transform: capitalize;
  margin-bottom: 27px; }
  @media (max-width: 1024px) {
    .about__title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 1.4px;
      margin-bottom: 21px; } }

.about__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #175E65;
  letter-spacing: 0; }
  @media (max-width: 1024px) {
    .about__text {
      font-size: 16px; } }
  .about__text:first-child {
    font-weight: 300;
    margin-top: 26px; }
  .about__text:nth-child(2) {
    max-width: 450px;
    max-width: 100%; }
  .about__text:last-child {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 113px;
    max-width: 440px; }
    @media (max-width: 1024px) {
      .about__text:last-child {
        margin-bottom: -7px;
        margin-top: 21px;
        max-width: 100%; } }

.easy-money {
  margin: 0 auto;
  background: url(../img/Background-easy-money.png) no-repeat;
  background-position-x: center; }
  @media (max-width: 768px) {
    .easy-money {
      background: url(../img/Background-easy-money-mob.png) no-repeat;
      background-position-x: center;
      -webkit-background-size: cover;
              background-size: cover; } }
  @media (max-width: 375px) {
    .easy-money {
      background-position-y: -82px; } }
  .easy-money__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 121px;
    text-align: center; }
    @media (max-width: 1024px) {
      .easy-money__wrapper {
        margin-top: 35px; } }
  .easy-money__title {
    color: #fff;
    font-family: Circe;
    font-size: 35px;
    font-weight: bold;
    margin-right: 65px; }
    @media (max-width: 1024px) {
      .easy-money__title {
        font-size: 25px;
        margin-right: 0; } }
  .easy-money__item-outer {
    margin-top: 71px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #FFF5BB;
    width: 100%;
    max-width: 1100px; }
    @media (max-width: 1024px) {
      .easy-money__item-outer {
        margin-top: 31px; } }
  .easy-money__item {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 116px; }
    @media (max-width: 1024px) {
      .easy-money__item {
        margin: 0 auto; } }
  @media (max-width: 1024px) {
    .easy-money img {
      width: 33%;
      margin: 0 auto; } }
  .easy-money__item-title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 7px; }
    @media (max-width: 1024px) {
      .easy-money__item-title {
        font-size: 16px;
        margin-top: 11px;
        letter-spacing: 0; } }
  .easy-money__item-text {
    color: #fff;
    margin: 5px -64px;
    font-size: 18px;
    letter-spacing: 0; }
    @media (max-width: 1024px) {
      .easy-money__item-text {
        max-width: 320px;
        margin: 0 auto;
        margin-top: 9px;
        letter-spacing: -0.7px;
        width: 78%; } }
  .easy-money__form-outer {
    max-width: 540px; }
  .easy-money__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 107px; }
    @media (max-width: 1024px) {
      .easy-money__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        margin-top: 120px;
        letter-spacing: 0.1px; } }
  .easy-money__form-h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    max-width: 500px; }
    @media (max-width: 1024px) {
      .easy-money__form-h2 {
        width: 100%;
        font-size: 18px; } }

.easy__form,
.laptop__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #CDCDCD; }
  @media (max-width: 1024px) {
    .easy__form,
    .laptop__form {
      background-color: transparent;
      border: 1px solid transparent; } }
  @media (max-width: 768px) {
    .easy__form,
    .laptop__form {
      margin-top: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .easy__form-input,
  .laptop__form-input {
    background: #fff;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5; }
    .easy__form-input:focus,
    .laptop__form-input:focus {
      color: #16A6B3; }
    .easy__form-input::-webkit-input-placeholder,
    .laptop__form-input::-webkit-input-placeholder {
      color: #CDCDCD; }
    .easy__form-input::-ms-input-placeholder,
    .laptop__form-input::-ms-input-placeholder {
      color: #CDCDCD; }
    .easy__form-input::placeholder,
    .laptop__form-input::placeholder {
      color: #CDCDCD; }
    .easy__form-input:focus::-webkit-input-placeholder,
    .laptop__form-input:focus::-webkit-input-placeholder {
      color: #16A6B3; }
    .easy__form-input:focus::-ms-input-placeholder,
    .laptop__form-input:focus::-ms-input-placeholder {
      color: #16A6B3; }
    .easy__form-input:focus::placeholder,
    .laptop__form-input:focus::placeholder {
      color: #16A6B3; }
    @media (max-width: 1024px) {
      .easy__form-input,
      .laptop__form-input {
        width: 100%; } }
  .easy__form-btn,
  .laptop__form-btn {
    max-width: 240px;
    background: -webkit-gradient(linear, left top, right top, from(#F86544), to(#D83B17));
    background: -webkit-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: -o-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%);
    -webkit-border-radius: 60px;
            border-radius: 60px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 13px 0;
    margin: -2px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
    .easy__form-btn:hover,
    .laptop__form-btn:hover {
      background: -webkit-gradient(linear, left top, right top, from(#FF8A6F), to(#E26447));
      background: -webkit-linear-gradient(left, #FF8A6F 0%, #E26447 100%);
      background: -o-linear-gradient(left, #FF8A6F 0%, #E26447 100%);
      background: linear-gradient(90deg, #FF8A6F 0%, #E26447 100%); }
    @media (max-width: 1024px) {
      .easy__form-btn,
      .laptop__form-btn {
        max-width: 100%;
        position: relative;
        left: 0;
        margin-top: 10px; } }
  .easy__form-text,
  .laptop__form-text {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 7px;
    text-align: left;
    margin-bottom: 107px;
    max-width: 540px;
    letter-spacing: 0; }
    @media (max-width: 1024px) {
      .easy__form-text,
      .laptop__form-text {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 138px; } }
  .easy__form-outer,
  .laptop__form-outer {
    margin-right: 64px;
    margin-top: 4px; }
    @media (max-width: 1024px) {
      .easy__form-outer,
      .laptop__form-outer {
        margin-right: 0; } }

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: -36px; }
  @media (max-width: 1024px) {
    .slick-dots {
      bottom: -54px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: .25;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 6px; }

.slick-active button {
  opacity: 1; }

.testimonials__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1024px) {
    .testimonials__wrapper {
      margin-top: -120px; } }

.testimonials__h1 {
  font-family: Circe;
  font-size: 35px;
  color: #175E65;
  margin-bottom: 63px;
  margin-right: 65px;
  margin-top: -5px; }
  @media (max-width: 1024px) {
    .testimonials__h1 {
      margin: 31px auto 20px;
      font-size: 25px; } }

.testimonials__title {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: #175E65;
  margin-bottom: 77px;
  margin-right: 68px; }
  .testimonials__title span {
    margin-left: 10px; }
    @media (max-width: 375px) {
      .testimonials__title span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  @media (max-width: 1024px) {
    .testimonials__title {
      font-size: 16px;
      margin-bottom: 56px;
      text-align: center;
      margin-right: 9px;
      letter-spacing: 0; } }

.testimonials__items {
  max-width: 1100px;
  width: 100%;
  margin-right: 65px; }
  @media (max-width: 1024px) {
    .testimonials__items {
      margin-right: 0; } }

.testimonials__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 18px; }
  @media (max-width: 1024px) {
    .testimonials__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.testimonials__items-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.testimonials__item-img {
  width: 146px;
  height: 146px;
  margin-right: 47px; }
  .testimonials__item-img img {
    width: 100%; }
  @media (max-width: 1024px) {
    .testimonials__item-img {
      width: 100px;
      height: 100px;
      margin-right: 0; } }

.testimonials__item-texts {
  max-width: 587px;
  font-family: "Open Sans", sans-serif;
  color: #175E65;
  text-align: left; }
  @media (max-width: 1024px) {
    .testimonials__item-texts {
      text-align: center; } }

.testimonials__item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }
  @media (max-width: 1024px) {
    .testimonials__item-title {
      font-size: 14px;
      margin-top: 23px; } }

.testimonials__item-text {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  position: relative;
  line-height: normal;
  letter-spacing: -0.7px; }
  @media (max-width: 1024px) {
    .testimonials__item-text {
      font-size: 18px; } }
  .testimonials__item-text::after {
    content: url(../img/svg/quotes.svg);
    position: absolute;
    right: 0;
    bottom: -30px; }
    @media (max-width: 1024px) {
      .testimonials__item-text::after {
        right: 633px;
        bottom: 50px;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        z-index: -1; } }

.testimonials__text {
  margin-top: 86px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: #175E65;
  max-width: 780px;
  margin-right: 65px;
  margin-bottom: 160px;
  letter-spacing: 0; }
  @media (max-width: 1024px) {
    .testimonials__text {
      margin-top: 94px;
      font-size: 16px;
      margin-bottom: 45px;
      margin-right: 0;
      width: 90%; } }

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-138%, -66%);
      -ms-transform: translate(-138%, -66%);
          transform: translate(-138%, -66%); }
  @media (max-width: 1024px) {
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      display: none !important; }
      .slick-prev.slick-arrow .slick-next.slick-arrow,
      .slick-next.slick-arrow .slick-next.slick-arrow {
        right: -20px; } }

.slick-next.slick-arrow {
  right: -43px; }

.slick-prev.slick-arrow {
  left: 39px;
  z-index: 100; }

.testimonials__items.slick-initialized.slick-slider.slick-dotted .slick-dots {
  display: none; }
  @media (max-width: 1024px) {
    .testimonials__items.slick-initialized.slick-slider.slick-dotted .slick-dots {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      bottom: -38px;
      right: 60px; }
      .testimonials__items.slick-initialized.slick-slider.slick-dotted .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background: #fff;
        opacity: .25;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin: 6px;
        background: #F86544; } }
  .testimonials__items.slick-initialized.slick-slider.slick-dotted .slick-dots .slick-active button {
    opacity: 1; }

.laptop {
  background: url(../img/Background-footer.png) no-repeat;
  background-position: -76px -5px;
  -webkit-background-size: 100% cover;
          background-size: 100% cover; }
  @media (max-width: 768px) {
    .laptop {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: transparent; } }
  @media (max-width: 375px) {
    .laptop {
      background: url(../img/Background-footer-mob.png) no-repeat;
      background-position: bottom;
      background-position-y: -3px; } }
  .laptop__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 181px 0px 121px; }
    @media (max-width: 1024px) {
      .laptop__wrapper {
        padding: 204px 0 52px; } }
    @media (max-width: 550px) {
      .laptop__wrapper {
        padding: 204px 0 26px; } }
    @media (max-width: 390px) {
      .laptop__wrapper {
        padding: 109px 0px 89px; } }
    @media (max-width: 375px) {
      .laptop__wrapper {
        padding: 82px 0 66px; } }
  .laptop__texts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .laptop__texts-text, .laptop__texts-text-second {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    max-width: 546px;
    margin-top: -11px;
    letter-spacing: 0; }
    @media (max-width: 375px) {
      .laptop__texts-text, .laptop__texts-text-second {
        font-size: 18px; } }
    .laptop__texts-text:first-child, .laptop__texts-text-second:first-child {
      font-weight: 300;
      margin-bottom: 41px;
      letter-spacing: 0; }
  .laptop__texts-text-second {
    font-weight: bold;
    letter-spacing: -0.4px; }
    @media (max-width: 1024px) {
      .laptop__texts-text-second {
        margin-top: -14px; } }
  .laptop__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 540px;
    margin-top: 48px;
    background-color: #fff;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1024px) {
      .laptop__form {
        margin-top: 32px; } }
  .laptop-input {
    background: #fff;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 18px;
    color: #175E65; }
    @media (max-width: 768px) {
      .laptop-input {
        width: 100%; } }
  .laptop-btn {
    max-width: 240px;
    background: -webkit-gradient(linear, left top, right top, from(#F86544), to(#D83B17));
    background: -webkit-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: -o-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%);
    -webkit-border-radius: 60px;
            border-radius: 60px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 13px 0;
    left: 53%;
    margin: -2px; }
    @media (max-width: 768px) {
      .laptop-btn {
        max-width: 100%;
        margin-top: 10px; } }

@media (max-width: 1024px) {
  .laptop__form {
    background: none; } }

.popap {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 100; }
  .popap .congrats {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 600px;
    max-height: 480px;
    margin: 137px auto;
    background: #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px; }
    .popap .congrats__img {
      max-width: 344px;
      margin: 34px auto 35px; }
    .popap .congrats__text {
      font-family: Circe;
      line-height: 27px;
      font-size: 23px;
      color: #175E65;
      max-width: 288px;
      text-align: center;
      font-weight: bold;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 27px; }
    .popap .congrats button {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      background: -webkit-gradient(linear, left top, right top, from(#F86544), to(#D83B17));
      background: -webkit-linear-gradient(left, #F86544 0%, #D83B17 100%);
      background: -o-linear-gradient(left, #F86544 0%, #D83B17 100%);
      background: linear-gradient(90deg, #F86544 0%, #D83B17 100%);
      padding: 12px 0 13px;
      max-width: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-border-radius: 60px;
              border-radius: 60px;
      width: 100%;
      margin-bottom: 70px; }
  .popap.show {
    display: block; }

.arow {
  opacity: 0.2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .arow:hover {
    opacity: 1; }
  .arow:active {
    opacity: 1; }

.footer {
  background-color: #175E65;
  max-width: 1440px;
  margin: 0 auto; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%; }
    @media (max-width: 375px) {
      .footer__wrapper {
        margin-top: 33px; } }
  .footer-soc {
    margin-left: 0 !important;
    margin-top: 32px;
    margin-right: 64px; }
    @media (max-width: 375px) {
      .footer-soc {
        margin-top: 19px; } }
  .footer__ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .footer__ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 0; } }
  .footer__li {
    margin-right: 73px;
    margin-top: 4px; }
    @media (max-width: 768px) {
      .footer__li {
        margin-right: 0;
        margin: 7.5px auto; } }
  .footer__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    letter-spacing: 0.2px; }
    .footer__link:hover {
      color: #A6F8FF; }
  .footer__nav {
    margin-top: 27px; }
    @media (max-width: 375px) {
      .footer__nav {
        margin-top: -6px; } }
  .footer__svg {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .footer__svg:hover path {
      fill: #A6F8FF; }
    .footer__svg:hover circle {
      stroke: #A6F8FF; }

.copyright {
  margin-top: 31px;
  margin-right: 65px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 30px;
  letter-spacing: 0; }
  @media (max-width: 375px) {
    .copyright {
      margin-top: 27px;
      margin-right: 0;
      margin-bottom: 36px; } }

.btn-up {
  position: fixed;
  right: 87px;
  bottom: 78px; }
  @media (max-width: 1024px) {
    .btn-up {
      right: 20px; } }
  @media (max-width: 375px) {
    .btn-up {
      right: 2px;
      bottom: 226px; } }

.socials.footer-soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 375px) {
    .socials.footer-soc {
      margin-top: 24px;
      margin-right: 0; } }

.container {
  max-width: 1163px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto; }
  @media (max-width: 1100px) {
    .container {
      padding: 0 18px; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 743px;
  background: url(../img/Background-header.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  @media (max-width: 375px) {
    .header {
      background: url(../img/Background-header-mob.png) no-repeat;
      background-position-y: -70px; } }
  .header__menu {
    display: none; }
    @media (max-width: 1024px) {
      .header__menu {
        display: block; } }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 28px; }
    @media (max-width: 375px) {
      .header__wrapper {
        margin-top: 13px; } }
  .header__wrapper-mob {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 710px;
    height: 100vh;
    width: 100%;
    display: none;
    background: url(../img/Background-header.png) no-repeat; }
    @media (max-width: 375px) {
      .header__wrapper-mob {
        background: url(../img/Background-header-mob.png) no-repeat; } }
  .header__mob {
    width: 100%;
    padding: 13px 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media (max-width: 1024px) {
    .header__nav {
      display: none; } }
  @media (max-width: 1024px) {
    .header__logo {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .header__logo-mob {
    margin-bottom: 82px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media (max-width: 1024px) {
      .header__logo-mob {
        margin-top: 0; } }
    @media (max-width: 375px) {
      .header__logo-mob {
        margin-bottom: 72px; } }
  .header__mob-ul {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #fff; }
  .header__mob-li {
    margin-bottom: 25px; }
  .header__ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    margin-top: 3px; }
  .header__li {
    margin-right: 46px; }
  .header__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .header__link img {
      width: 100%; }
    .header__link:hover {
      color: #A6F8FF; }
    @media (max-width: 375px) {
      .header__link {
        max-width: 160px; } }
  .header-mob__link img {
    width: 100%;
    margin-top: -5px; }
  @media (max-width: 375px) {
    .header-mob__link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 160px; } }

.socials {
  margin-left: 149px; }
  @media (max-width: 1027px) {
    .socials {
      display: none; } }
  .socials__link {
    margin: 0 10px; }
  .socials-mob {
    margin-top: 75px; }
  .socials-mob__link {
    margin: 0 10px; }
    .socials-mob__link:first-child {
      margin-left: 0; }
    .socials-mob__link:last-child {
      margin-right: 0; }
  .socials__svg {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .socials__svg:hover path {
      fill: #A6F8FF; }
    .socials__svg:hover circle {
      stroke: #A6F8FF; }

.people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin-top: 75px;
  width: 100%; }
  @media (max-width: 1220px) {
    .people {
      margin: 0 auto; } }
  .people__title-outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 621px; }
    @media (max-width: 375px) {
      .people__title-outer {
        margin-top: 32px; } }
  .people__h1 {
    font-family: Circe;
    font-size: 55px;
    line-height: 73px;
    color: #fff;
    max-width: 621px; }
    @media (max-width: 375px) {
      .people__h1 {
        font-size: 35px;
        line-height: normal; } }
  .people__h2 {
    color: #FFF5BB;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    line-height: 34px;
    margin-top: 27px;
    max-width: 563px;
    letter-spacing: 0; }
    @media (max-width: 375px) {
      .people__h2 {
        margin-top: 17px;
        font-size: 16px;
        line-height: 24px; } }
  .people__h3 {
    font-family: Open Sans;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
    color: #fff;
    max-width: 540px;
    margin-top: 11px;
    letter-spacing: 0; }
    @media (max-width: 375px) {
      .people__h3 {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 7px;
        color: #FFF5BB; } }
  .people__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    max-width: 524px;
    margin-top: 7px;
    letter-spacing: 0; }
    @media (max-width: 375px) {
      .people__text {
        letter-spacing: -1px; } }
  .people__img {
    margin-top: -14px;
    margin-right: -95px; }
    @media (max-width: 1220px) {
      .people__img {
        display: none; } }

.header__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
  margin-top: 35px;
  background-color: #fff;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #CDCDCD; }
  @media (max-width: 768px) {
    .header__form {
      margin-top: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: transparent;
      border: 1px solid transparent; } }
  .header__form-input {
    background: #fff;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5; }
    .header__form-input:focus .header__form {
      border: 1px solid #000; }
    .header__form-input:focus {
      color: #16A6B3; }
    .header__form-input::-webkit-input-placeholder {
      color: #CDCDCD; }
    .header__form-input::-ms-input-placeholder {
      color: #CDCDCD; }
    .header__form-input::placeholder {
      color: #CDCDCD; }
    .header__form-input:focus::-webkit-input-placeholder {
      color: #16A6B3; }
    .header__form-input:focus::-ms-input-placeholder {
      color: #16A6B3; }
    .header__form-input:focus::placeholder {
      color: #16A6B3; }
    @media (max-width: 768px) {
      .header__form-input {
        width: 100%; } }
  .header__form-btn {
    max-width: 240px;
    background: -webkit-gradient(linear, left top, right top, from(#F86544), to(#D83B17));
    background: -webkit-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: -o-linear-gradient(left, #F86544 0%, #D83B17 100%);
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%);
    -webkit-border-radius: 60px;
            border-radius: 60px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 13px 0;
    left: 53%;
    margin: -2px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
    .header__form-btn:hover {
      background: -webkit-gradient(linear, left top, right top, from(#FF8A6F), to(#E26447));
      background: -webkit-linear-gradient(left, #FF8A6F 0%, #E26447 100%);
      background: -o-linear-gradient(left, #FF8A6F 0%, #E26447 100%);
      background: linear-gradient(90deg, #FF8A6F 0%, #E26447 100%); }
    @media (max-width: 768px) {
      .header__form-btn {
        max-width: 100%;
        margin-top: 10px; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute; }

.loader {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 20px;
          border-radius: 20px; }

.loader-outer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 1000000; }

.loader .ball {
  position: absolute;
  width: 0;
  height: 100%;
  left: -15px;
  bottom: 0;
  background: #4a9;
  opacity: 0;
  -webkit-animation: moveBall 2.8s infinite linear;
  animation: moveBall 2.8s infinite linear; }
  .loader .ball.one {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .loader .ball.two {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .loader .ball.three {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .loader .ball.four {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .loader .ball.five {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .loader .ball.six {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .loader .ball .inner {
    height: 30px;
    width: 30px;
    position: absolute;
    background: #999;
    bottom: 0;
    left: 0;
    margin-left: -15px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .loader .ball.center {
    left: 50%;
    top: 50%;
    background: none;
    -webkit-animation: centerBall 2.8s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation: centerBall 2.8s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .loader .ball.center .inner {
      top: -15px; }

@-webkit-keyframes centerBall {
  0%, 25%, 100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  75% {
    opacity: 0; } }

@keyframes centerBall {
  0%, 25%, 100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  75% {
    opacity: 0; } }

@-webkit-keyframes moveBall {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  10% {
    opacity: 0; }
  28.7% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  71.3% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  90% {
    opacity: 0; }
  100% {
    left: 110%;
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
    opacity: 0; } }

@keyframes moveBall {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  10% {
    opacity: 0; }
  28.7% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  71.3% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 50%;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  90% {
    opacity: 0; }
  100% {
    left: 110%;
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
    opacity: 0; } }
