.container
  max-width: 1100px
  display: flex
  flex-wrap: wrap
  margin: 0 auto

  @include media(1100)
    padding: 0 18px

.header
  max-width: 1440px
  margin: 0 auto
  min-height: 743px
  background: url(../img/Background-header.png) no-repeat
  background-size: cover

  @include media(375)
    background: url(../img/Background-header-mob.png) no-repeat

  &__menu
    display: none

    @include media(1024)
      display: block

  &__wrapper
    display: flex
    width: 100%
    justify-content: space-between
    margin-top: 28px

    @include media(1024)
      margin-top: 13px

  &__wrapper-mob
    position: absolute
    top: 0
    left: 0
    max-height: 710px
    height: 100vh
    width: 100%
    display: none
    background: url(../img/Background-header.png) no-repeat


    @include media(375)
      background: url(../img/Background-header-mob.png) no-repeat

  &__mob
    width: 100%
    padding: 13px 19px
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column

  &__nav

    @include media(1024)
      display: none
  &__logo

    @include media(1024)
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center

  &__logo-mob
    margin-bottom: 82px
    display: flex
    justify-content: space-between
    width: 100%

    @include media(375)
      margin-bottom: 46px

  &__mob-ul
    font-family: "Open Sans", sans-serif
    color: #fff
    font-size: 18px

  &__mob-li
    margin-bottom: 25px

  &__ul
    display: flex
    margin-left: 81px

  &__li
    margin-right: 43px

  &__link
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    font-size: 18px
    color: #fff

    @include media(375)
      max-width: 160px

  &-mob__link

    @include media(375)
      display: flex
      align-items: center
      max-width: 160px

.socials


  @include media(1024)
    display: none

  &__link
    margin: 0 10px

  &-mob
    margin-top: 49px

  &-mob__link
    margin: 0 10px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

.people
  display: flex
  justify-content: space-between
  max-width: 1100px
  margin-top: 80px
  width: 100%

  @include media(1220)
    margin: 0 auto

  &__title-outer
    display: flex
    flex-direction: column
    max-width: 621px

    @include media(1024)
      margin-top: 46px

  &__h1
    font-family: Circe
    font-size: 55px
    line-height: 73px
    color: #fff
    max-width: 621px

    @include media(768)
      font-size: 35px
      line-height: normal

  &__h2
    color: #FFF5BB
    font-family: 'Open Sans', sans-serif
    font-size: 23px
    line-height: 34px
    margin-top: 32px
    max-width: 563px

    @include media(768)
      margin-top: 17px
      font-size: 16px
      line-height: 24px

  &__h3
    font-family: Open Sans
    font-weight: 300
    line-height: 27px
    font-size: 18px
    color: #fff
    max-width: 540px
    margin-top: 11px

    @include media(768)
      font-size: 16px
      font-weight: 300
      line-height: 24px

  &__text
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    color: #fff
    max-width: 524px
    margin-top: 7px

  &__img
    margin-right: -80px

    @include media(1220)
      display: none


.header__form
  display: flex
  align-items: center
  width: 100%
  max-width: 540px
  margin-top: 34px
  background-color: #fff
  border-radius: 60px
  justify-content: space-between


  @include media(768)
    margin-top: 24px
    flex-direction: column
    background-color: transparent

  &-input
    background: #fff
    border-radius: 60px
    font-family: 'Open Sans', sans-serif
    padding: 12px 16px
    font-weight: normal
    font-size: 18px
    color: #175E65

    @include media(768)
      width: 100%

  &-btn
    max-width: 240px
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%)
    border-radius: 60px
    color: #fff
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    font-weight: bold
    text-transform: uppercase
    display: flex
    width: 100%
    justify-content: center
    padding: 13px 0
    left: 53%

    @include media(768)
      max-width: 100%
      margin-top: 10px