.container
  max-width: 1163px
  display: flex
  flex-wrap: wrap
  margin: 0 auto

  @include media(1100)
    padding: 0 18px

.header
  max-width: 1440px
  margin: 0 auto
  min-height: 743px
  background: url(../img/Background-header.png) no-repeat
  background-size: cover

  @include media(375)
    background: url(../img/Background-header-mob.png) no-repeat
    background-position-y: -70px

  &__menu
    display: none

    @include media(1024)
      display: block

  &__wrapper
    display: flex
    width: 100%
    margin-top: 28px

    @include media(375)
      margin-top: 13px

  &__wrapper-mob
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100%
    display: none
    background: url(../img/Background-header.png) no-repeat


    @include media(375)
      background: url(../img/Background-header-mob.png) no-repeat

  &__mob
    width: 100%
    padding: 13px 19px
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column

  &__nav

    @include media(1024)
      display: none

  &__logo

    @include media(1024)
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center

  &__logo-mob
    margin-bottom: 82px
    display: flex
    justify-content: space-between
    width: 100%

    @include media(1024)
      margin-top: 0

    @include media(375)
      margin-bottom: 72px

  &__mob-ul
    font-family: "Open Sans", sans-serif
    font-size: 18px
    color: #fff
    
  &__mob-li
    margin-bottom: 25px

  &__ul
    display: flex
    margin-left: 81px
    margin-top: 3px


  &__li
    margin-right: 46px

  &__link
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    font-size: 18px
    color: #fff
    transition: .3s

    & img
      width: 100%

    &:hover
      color: #A6F8FF

    @include media(375)
      max-width: 160px

  &-mob__link

    & img
      width: 100%
      margin-top: -5px

    @include media(375)
      display: flex
      align-items: center
      max-width: 160px

.socials
  margin-left: 149px

  @include media(1027)
    display: none

  &__link
    margin: 0 10px


  &-mob
    margin-top: 75px

  &-mob__link
    margin: 0 10px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

  &__svg
    transition: .3s

    &:hover

      & path
        fill: #A6F8FF

      & circle
        stroke: #A6F8FF

.people
  display: flex
  justify-content: space-between
  max-width: 1100px
  margin-top: 75px
  width: 100%

  @include media(1220)
    margin: 0 auto

  &__title-outer
    display: flex
    flex-direction: column
    max-width: 621px

    @include media(375)
      margin-top: 32px

    @include media(320)
      margin-top: -3px

  &__h1
    font-family: Circe
    font-size: 55px
    line-height: 73px
    color: #fff
    max-width: 621px

    @include media(375)
      font-size: 35px
      line-height: normal

  &__h2
    color: #FFF5BB
    font-family: 'Open Sans', sans-serif
    font-size: 23px
    line-height: 34px
    margin-top: 27px
    max-width: 563px
    letter-spacing: 0

    @include media(375)
      margin-top: 17px
      font-size: 16px
      line-height: 24px

  &__h3
    font-family: Open Sans
    font-weight: 300
    line-height: 27px
    font-size: 18px
    color: #fff
    max-width: 540px
    margin-top: 11px
    letter-spacing: 0

    @include media(375)
      font-size: 16px
      font-weight: 300
      line-height: 24px
      margin-top: 7px
      color: #FFF5BB

  &__text
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    color: #fff
    max-width: 524px
    margin-top: 7px
    letter-spacing: 0

    @include media(375)
      letter-spacing: -1px

  &__img
    margin-top: -14px
    margin-right: -95px

    @include media(1220)
      display: none


.header__form
  display: flex
  align-items: center
  width: 100%
  max-width: 540px
  margin-top: 35px
  background-color: #fff
  border-radius: 60px
  justify-content: space-between
  border: 1px solid #CDCDCD

  //&:has( > &-input:focus)
  //  border: 1px solid #000

  @include media(768)
    margin-top: 24px
    flex-direction: column
    background-color: transparent
    border: 1px solid transparent

  &-input
    background: #fff
    border-radius: 60px
    font-family: 'Open Sans', sans-serif
    padding: 12px 16px
    font-weight: normal
    font-size: 18px
    color: #E5E5E5

    &:focus .header__form
      border: 1px solid #000

    &:focus
      color: #16A6B3

    &::placeholder
      color: #CDCDCD

    &:focus::placeholder
      color: #16A6B3

    @include media(768)
      width: 100%

  &-btn
    max-width: 240px
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%)
    border-radius: 60px
    color: #fff
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    font-weight: bold
    text-transform: uppercase
    display: flex
    width: 100%
    justify-content: center
    padding: 13px 0
    left: 53%
    margin: -2px
    transition: .5s ease

    &:hover
      background: linear-gradient(90deg, #FF8A6F 0%, #E26447 100%)

    @include media(768)
      max-width: 100%
      margin-top: 10px
