.about

  &__img
    margin-left: -44px

    @include media(1280)
      margin-left: 0

    @include media(1024)
      margin-top: 96px
      margin-left: 0

    @include media(768)
      margin: 100px auto 75px
      min-height: auto

    @include media(640)
      margin: 100px auto 235px

    @include media(483)
      margin: 100px auto 0

    @include media(411)
      margin: 100px auto 16px

    @include media(375)
      width: 94%
      margin: 0 auto

    img
      width: 100%


  &__wrapper
    display: flex
    align-items: center
    margin-top: 35px
    margin-top: 35px
    width: 100%
    margin-bottom: 57px

    @include media(1024)
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      margin: -74px auto 57px

  &__outer
    width: 50%
    margin-left: 152px
    padding-top: 39px

    @include media(1024)
      margin-left: 0
      width: 100%
      padding-top: 5px

    @include media(1024)
      padding-top: 25px

  &__title
    font-family: Circe
    line-height: normal
    font-size: 35px
    color: #175E65
    text-transform: capitalize
    margin-bottom: 27px
    font-weight: bold

    @include media(1024)
      font-size: 25px
      font-weight: bold
      letter-spacing: 1.4px
      margin-bottom: 21px

  &__text
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    color: #175E65
    letter-spacing: 0

    @include media(1024)
      font-size: 16px

    &:first-child
      font-weight: 300
      margin-top: 26px

    &:nth-child(2)
      max-width: 450px
      max-width: 100%

    &:last-child
      font-weight: bold
      margin-top: 25px
      margin-bottom: 113px
      max-width: 440px

      @include media(1024)
        margin-bottom: -7px
        margin-top: 21px
        max-width: 100%
      
.easy-money
  margin: 0 auto
  background: url(../img/Background-easy-money.png) no-repeat
  background-position-x: center

  @include media(768)
    background: url(../img/Background-easy-money-mob.png) no-repeat
    background-position-x: center
    background-size: cover

  @include media(375)
    background-position-y: 0

  @include media(360)
    background-position-y: -50px

  &__wrapper
    display: flex
    width: 100%
    flex-direction: column
    margin-top: 121px
    text-align: center

    @include media(1024)
      margin-top: 35px

  &__title
    color: #fff
    font-family: Circe
    font-size: 35px
    font-weight: bold
    margin-right: 65px

    @include media(1024)
      font-size: 25px
      margin-right: 0

  &__item-outer
    margin-top: 71px
    display: flex
    justify-content: center
    font-family: 'Open Sans', sans-serif
    color: #FFF5BB
    width: 100%
    max-width: 1100px

    @include media(1024)
      margin-top: 31px

  &__item
    display: flex!important
    flex-direction: column
    flex-wrap: wrap
    margin: 0 116px

    @include media(1024)
      margin: 0 auto

  & img

    @include media(1024)
      width: 33%
      margin: 0 auto

  &__item-title
    font-size: 23px
    font-weight: bold
    margin-top: 7px

    @include media(1024)
      font-size: 16px
      margin-top: 11px
      letter-spacing: 0

  &__item-text
    color: #fff
    margin: 5px -64px
    font-size: 18px
    letter-spacing: 0

    @include media(1100)
      margin: 5px -30px

    @include media(1024)
      max-width: 320px
      margin: 0 auto
      margin-top: 9px
      letter-spacing: -0.7px
      width: 78%

  &__form-outer
    max-width: 540px

  &__form
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-top: 107px

    @include media(1024)
      margin-top: 84px

    @include media(768)
      flex-direction: column
      margin: 0 auto
      margin-top: 120px
      letter-spacing: 0.1px

    @include media(640)
      margin-top: 40px

    @include media(568)
      margin-top: 85px

    @include media(411)
      margin-top: 80px

    @include media(375)
      margin-top: 113px

    @include media(360)
      margin-top: 80px

  &__form-h2
    color: #fff
    font-family: 'Open Sans', sans-serif
    font-size: 23px
    font-weight: bold
    text-align: left
    max-width: 500px

    @include media(1024)
      width: 100%
      font-size: 18px


.easy__form,
.laptop__form,
.header__form
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 100%
  max-width: 540px
  background-color: #fff
  border-radius: 60px
  justify-content: space-between
  border: 1px solid #CDCDCD
  position: relative

  @include media(1024)
    background-color: transparent
    border: 1px solid transparent


  @include media(768)
    margin-top: 24px
    flex-direction: column

  &-input
    background: #fff
    border-radius: 60px
    font-family: 'Open Sans', sans-serif
    padding: 12px 16px
    font-weight: normal
    font-size: 18px
    color: #E5E5E5

    &:focus
      color: #16A6B3

    &::placeholder
      color: #CDCDCD

    &:focus::placeholder
      color: #16A6B3

    @include media(1024)
      width: 100%

  &-btn
    max-width: 240px
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%)
    border-radius: 60px
    text-transform: uppercase
    width: 100%
    margin: -2px
    transition: .5s ease
    text-align: center
    cursor: pointer

    & input
      color: #fff
      font-size: 18px
      font-family: 'Open Sans', sans-serif
      font-weight: bold
      padding: 13px 0
      text-transform: uppercase
      cursor: pointer

    &:hover
      background: linear-gradient(90deg, #FF8A6F 0%, #E26447 100%)

    @include media(1024)
      max-width: 100%
      position: relative
      left: 0
      margin-top: 10px


  &-text
    color: #fff
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    margin-top: 7px
    text-align: left
    margin-bottom: 107px
    max-width: 540px
    letter-spacing: 0

    @include media(1024)
      font-size: 14px
      font-weight: 400
      margin-bottom: 138px

    @include media(768)
      margin-bottom: 50px

    @include media(640)
      margin-bottom: 55px

    @include media(411)
      margin-bottom: 60px

    @include media(360)
      margin-bottom: 96px

  &-outer
    margin-right: 64px
    margin-top: 4px

    @include media(1024)
      margin-right: 0

.slick-dots
  position: absolute
  display: flex
  bottom: -36px

  @include media(1024)
    bottom: -54px
    justify-content: center

  & button
    font-size: 0
    width: 15px
    height: 15px
    background: #fff
    opacity: .25
    border-radius: 50%
    margin: 6px

.slick-active

  & button
    opacity: 1

.testimonials

  &__wrapper
    display: flex
    width: 100%
    flex-direction: column
    align-items: center

    @include media(1024)
      margin-top: -120px

    @include media(823)
      margin-top: -34px

  &__h1
    font-family: Circe
    font-size: 35px
    color: #175E65
    margin-bottom: 63px
    margin-right: 65px
    margin-top: -5px

    @include media(1024)
      margin: 31px auto 20px
      font-size: 25px

    @include media(812)
      margin: 60px auto 20px

    @include media(768)
      margin: 80px auto 20px

    @include media(667)
      margin: 100px auto 20px

    @include media(375)
      margin: 30px auto 20px

  &__title
    font-family: "Open Sans", sans-serif
    font-size: 23px
    font-weight: 300
    color: #175E65
    margin-bottom: 77px
    margin-right: 68px

    & span
      margin-left: 10px

      @include media(375)
        display: flex
        flex-wrap: wrap

    @include media(1024)
      font-size: 16px
      margin-bottom: 56px
      text-align: center
      margin-right: 9px
      letter-spacing: 0

  &__items
    max-width: 1100px
    width: 100%
    margin-right: 65px

    @include media(1024)
      margin-right: 0

  &__item
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding-bottom: 18px

    @include media(1024)
      flex-direction: column
      align-items: center

  &__items-outer
    display: flex
    flex-direction: column

  &__item-img
    width: 146px
    height: 146px
    margin-right: 47px

    img
      width: 100%

    @include media(1024)
      width: 100px
      height: 100px
      margin-right: 0
      
  &__item-texts
    max-width: 587px
    font-family: "Open Sans", sans-serif
    color: #175E65
    text-align: left

    @include media(1024)
      text-align: center

  &__item-title
    font-size: 20px
    font-weight: bold
    margin-bottom: 10px

    @include media(1024)
      font-size: 14px
      margin-top: 23px

  &__item-text
    font-size: 23px
    font-family: 'Open Sans', sans-serif
    font-style: italic
    position: relative
    line-height: normal
    letter-spacing: -0.7px

    @include media(1024)
      font-size: 18px

    &::after
      content: url(../img/svg/quotes.svg)
      position: absolute
      right: 0
      bottom: -30px

      @include media(1024)
        right: 568px
        bottom: 39px
        transform: rotate(180deg)
        z-index: -1

      @include media(812)
        right: 574px
        bottom: 39px

      @include media(640)
        right: 1140px
        bottom: 27px

      @include media(568)
        right: 1548px
        bottom: 27px

      @include media(411)
        right: 1445px
        bottom: 55px

      @include media(375)
        right: 1311px
        bottom: 65px

      @include media(360)
        right: 1247px
        bottom: 47px

      @include media(320)
        right: 808px
  &__text
    margin-top: 86px
    text-align: center
    font-family: "Open Sans", sans-serif
    font-size: 23px
    font-weight: 300
    color: #175E65
    max-width: 780px
    margin-right: 65px
    margin-bottom: 160px
    letter-spacing: 0

    @include media(1024)
      margin-top: 94px
      font-size: 16px
      margin-bottom: 45px
      margin-right: 0
      width: 90%

    @include media(640)
      margin-bottom: 0


.slick-prev.slick-arrow,
.slick-next.slick-arrow
  position: absolute
  top: 50%
  transform: translate(-138%,-66%)

  @include media(1024)
    display: none!important

    .slick-next.slick-arrow
      right: -20px

.slick-next.slick-arrow
  right: -43px

.slick-prev.slick-arrow
  left: 39px
  z-index: 100

  @include media(1180)
    left: 70px

.testimonials__items.slick-initialized.slick-slider.slick-dotted

  & .slick-dots
      display: none

      @include media(1024)
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: flex
        bottom: -38px
        right: 60px

        & button
          font-size: 0
          width: 15px
          height: 15px
          background: #fff
          opacity: .25
          border-radius: 50%
          margin: 6px
          background: #F86544

      @include media(375)
        margin-left: 12px

      .slick-active

        & button
          opacity: 1

.laptop
  background: url(../img/Background-footer.png) no-repeat
  background-size: 100% cover
  background-position: center bottom
  position: relative

  @include media(1366)
    background-position: center -3px

  @include media(1024)
    background-position: -76px -5px

  @include media(768)
    background: url(../img/Background-footer-mob.png) no-repeat
    background-position: bottom
    flex-direction: column
    background-color: transparent

  &__wrapper
    width: 100%
    display: flex
    padding: 181px 0px 88px

    @include media(1366)
      padding: 181px 0px 63px

    @include media(1024)
      padding: 142px 0 0

  &__texts
    display: flex
    flex-direction: column
    width: 100%
    z-index: 10

    @include media(1024)
      margin-bottom: 58px

    @include media(823)
      padding-bottom: 0

  &__texts-text,
  &__texts-text-second
    color: #fff
    font-family: "Open Sans", sans-serif
    font-size: 23px
    max-width: 546px
    margin-top: -11px
    letter-spacing: 0

    @include media(375)
      font-size: 18px

    &:first-child
      font-weight: 300
      margin-bottom: 41px
      letter-spacing: 0

  &__texts-text-second
    font-weight: bold
    letter-spacing: -0.4px

    @include media(1024)
      margin-top: -14px

  &__form
    display: flex
    align-items: center
    width: 100%
    max-width: 540px
    margin-top: 48px
    background-color: #fff
    border-radius: 60px
    justify-content: space-between

    @include media(1024)
      margin-top: 32px


  &-input
    background: #fff
    border-radius: 60px
    font-family: 'Open Sans', sans-serif
    padding: 12px 16px
    font-weight: normal
    font-size: 18px
    color: #175E65

    @include media(768)
      width: 100%

  &__back
    position: absolute
    right: 290px
    bottom: -68px
    z-index: 9

    @include media(1366)
      right: 172px

    @include media(1024)
      right: 32px

    @include media(823)
      display: none

.laptop__form

  @include media(1024)
    background: none

.congrats
  display: none
  flex-direction: column
  align-items: center
  max-width: 600px
  width: 100%
  background: #fff
  border-radius: 25px

  &__img
    max-width: 344px
    margin: 34px auto 35px

  &__text
    font-family: Circe
    line-height: 27px
    font-size: 23px
    color: #175E65
    max-width: 288px
    text-align: center
    font-weight: bold
    display: flex
    flex-direction: column
    margin: 0 auto 27px

  & button
    font-family: 'Open Sans', sans-serif
    color: #fff
    font-size: 18px
    font-weight: bold
    text-transform: capitalize
    background: linear-gradient(90deg, #F86544 0%, #D83B17 100%)
    padding: 12px 0 13px
    max-width: 200px
    display: flex
    justify-content: center
    border-radius: 60px
    width: 100%
    margin: 0 auto
    transition: background .3s

    &:hover
      background: linear-gradient(90deg, #FF8A6F 0%, #E26447 100%)

  &.show
    display: block

.fancybox-button
  display: none!important

.arow
  opacity: 0.2
  transition: .3s

  &:hover
    opacity: 1

  &:active
    opacity: 1

label.error
  position: absolute
  top: -25px
  left: 13px
  color: red

.header__form
  margin-top: 34px